body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: green;
  background-color: black;
}

#game-container {
  width: 300px;
  margin: auto;
}

#grid-container {
  display: inline-block;
  width: 160px;
}

#game-state-container {
  display: inline-block;
  width: 100px;
  padding-top: 0.75rem;
  vertical-align: top;
}
